<style>

.header {
		background-color: rgb(155,13,20);
		color: rgb(255,255,255);
		font-size:30px;
		text-align: center;
		}
body{
font-family:verdana, tohama;
}

body a{
		text-decoration: none;
	 }

.s {
	width: 100px;
	float: left;
   }
   
  .s3 {
	width: 100px;
	float: right;
	
   }

.wrapper {
			width: 100%;
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
			background-color: rgb(50,50,50);
		 }
		 
.song {
		width: 200px;
		height: 300px;
		background-color: rgb(57,30,215);
		margin: 20px;
		padding: 4px;
		color: rgb(255,255,255);
		float: left;
		
	  }
	  
.s1 {
	 width: 100%;
	 
	}
	
	.q {
		color: rgb(0,0,0);
		font-size: 13px;
		text-align: center;
		
	   }

</style>